html,
body {
    margin: 0;
    margin: 0;
    background-color: #ffffff;
    font-family: arial;
    height: 100%;
    width: 100%;
}

/**
 * Default css attributes
 */
table th,
tr,
td {
    border: 1px solid #ddd;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 3px;
}

table th {
    text-align: center;
}

th,
td {
    padding: 7px;
    text-align: left;
}

input {
    border: 1px solid #ddd;
    background-color: #ffffff;
    padding-left: .5em;
    border-radius: 3px;
}



input:required {
    border-left-color: palegreen;
}

input:invalid {
    border-left-color: salmon;
}

button {
    background-color: inherit;
    border-radius: 4px;
    border: 0;
    color: white;
    background-color: #428bca;
    padding-top: 3px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 5px;
    margin-top: 5px;

}

.new {
    background-color: #4BCFFA;
}

.delete {
    background-color: #dc3545;
}

select {
    background-color: inherit;
    border-radius: 4px;
    border: 0;
    color: white;
    background-color: #428bca;
    padding-top: 3px;
    padding-right: 10px;
    padding-left: 10px;
}

/**
 * Popup css
 */


#popup {
    width: auto;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.5%;
    left: 0;
    bottom: 0.5%;
    right: 0;
    margin: auto;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.845);
    border: 3px solid #fff;
    border-radius: 20px;
    object-fit: cover;
}

#popup img {
    border-radius: 20px;
    width: 80%;
    top: 0.5%;
    left: 0;
    bottom: 0.5%;
    right: 0;
    height: auto;
}

@media only screen and (max-width:700px) {
    #popup img {
        width: 90%;
    }
}

#closePopup {
    color: wheat;
    font-size: 50px;
    position: absolute;
    top: 1%;
    right: 2%;
    cursor: pointer;
    opacity: 0.5;
    z-index: 10;
}

/**
 * Modal css
 */
.modal {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */


}

.modal form {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */

}

/**
 * element specific css attributes
 */


#menu {
    width: 100%;
    background-color: #333;
    top: 0;
    width: 100%;
    display: flex;
}

#navbarImage {
    float: left;
    left: 0;
}

#menu img {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;

}

#navbarSearch {
    align-content: center;
    margin-top: 8px;
    margin-left: 20px;
    width: 300px;
}

@media screen and (max-width: 750px) {
    #navbarSearch {
        width: 60%;
    }
}

#navbarSearch input {
    width: 100%;
}

#menu input[type=text] {
    margin-top: 8px;
    height: 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}

.drop-settings {
    float: right;
    color: white;
    right: 0;
    position: absolute;
}


.settings:after {
    float: right;
    padding-top: 8px;
    padding-right: 15px;
    text-align: right;
    content: '\2807';
    font-size: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;
    display: block;
}

#desk {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
    align-items: center;

}

@media screen and (max-width: 750px) {
    #desk {
        margin-left: 10px;
    }
}


.item {
    width: 30%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

@media screen and (max-width: 750px) {
    .item {
        width: 90%;
    }
}

.item button,
img {
    width: 100%;
}

.item img {
    border-radius: 10px;
    width: 100%;
    height: 300px;
    /*border: 1px solid black;*/
}

.item .description {
    font-size: 15px;
}

.item button {
    height: 45px;
}

#categories {
    margin-top: 10px;
    margin-left: 20px;
}

#categories button {
    margin-right: 10px;
    padding-top: 3px;
    padding-right: 15px;
    padding-left: 15px;
}

#orderForm {
    width: 90%;
    margin-left: 20px;
}

#orderForm img {
    width: 250px;
    border-radius: 10px;
}

#msg {
    color: #64ac5a;
}

/**
  * View product 
  */
.container {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #428bca;
    margin-top: 20px;
}

#customer {
    width: 100px;
    border-radius: 50%;
}

#product {
    width: 200px;
}

.actions {
    width: 200px;
    margin-top: 20px;
    height: 50px;
}

@media screen and (max-width:750px) {
    .actions {
        width: 100%
    }
}

#products_table img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}